.fare_container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
 
    min-height: 100vh;
    width: 100vw;
}
.p_to_d{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p_to_d img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.location_dt{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;


}
.location_dt div{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    justify-content: center;
    gap: 5px;
}
.location_dt div h4{
     font-size: large;
    font-weight: 600;
    color: #000000b6;
}
.location_dt div p{
 
       font-weight: 400;
    color: #000000;
    letter-spacing: .5px;
    padding: 13px 10px;
    border: 1px solid #000000a2;
    background-color: #00000021;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 5px;
}
.vehicles_type div img{
    height: 60px;
    width: 70px;
}
.vehicles_type{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.vehicles_type div{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.vehicles_type p{
   font-size: larger;
    font-weight: 600;
    background-color: #0000000f;
    border-radius: 1px;
    padding: 2px 4px;
}
@media (min-width: 768px) {
    .fare_container{
        width: 50vw;
        position: absolute;
        left: 0;
        transform: translate(50%, 0);
    }
}